
@model IEnumerable<Assignment_1.Models.CreateImage>
@{
    ViewBag.Title = "Image Details";
}

@foreach (var item in Model)
{
    <p class="inner" id ="img">
     Description of the image : @item.Description
    </p>
<p onclick = "fun()" id = "btn">
        <img src="@item.Url" width="300" height="300">
</p>
    <script>
        function function() {
            document.getElementById("img").style.display = "block";
        }
    </script>
   

}